$primary: #d9e7ec;
$white: #ffffff;
$accent: #3d99db;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  background: $white;
  overflow-x: hidden;
}

nav {
  height: 6rem;
  background: $primary;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
  }
  padding: 0 1rem;
}

.logo {

}

.menu {
  height: 100%;
}

.menu-btn {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  p {
    margin: 0 .25rem;
    font-weight: 600;
    font-size: .9rem;
  }
  cursor: pointer;
  transition: .3s;
  &:hover {
    color: #ffbb00;
  }
}

.circle {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background: teal;
  margin: 0 .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
}

.gold {
  background: gold;
}

.orange {
  background: #ff9100;
}

.reddish {
  background: #e22727;
}

.teal {
  background: #13acac;
}

.blue {
  background: #022a75;
}

.nav-btns {
  height: 100%;
  width: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

.background {
  clip-path: polygon(0 0, 100% 0, 100% 7%, 0% 100%);
  background: $primary;
  height: 150vh;
  width: 100vw;
  z-index: -1;
  position: absolute;
  top: 0;
}

.headline {
  background: rgba($color: #fff, $alpha: 0);
  padding: 4rem 12rem 0 7rem;
  display: flex;
}

.welcome-space {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  h1 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -3px;
    line-height: 120%;
    margin: 1rem 0;
    color: $accent;
  }
  p {
    margin: .75rem 0;
  }
  span {
    color: black;
  }
}

.sub {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.dimmed {
  color: grey;
}

.illustration {
  width: 45%;
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
}

.btn-space {
  display: flex;
  margin-top: 2rem;
  .btn-bordered {
    margin-right: 1rem;
  }
}

.btn {
  border: none;
  font-family: inherit;
  border-radius: 3rem;
  background: $accent;
  padding: .8rem 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8rem;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  transition: .3s;
  &:hover {
    background: $white;
    color: $accent;
  }
}

.btn-bordered {
  border: 1px solid black;
  background: transparent;
  color: black;
}

.stats {
  height: 300px;
  background: #ffc400;
  padding: 3rem 10rem;
  display: flex;
  justify-content: space-between;
}

.stat {
  height: 100%;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    margin-left: .5rem;
    font-size: 3rem;
    font-weight: 600;
  }
}

.content {
  min-height: 800px;
  padding: 4rem 9rem 10rem 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 1.5rem;
  row-gap: 2rem;
}


.program {
  min-height: 25rem;
  width: 100%;
  border: 1px solid rgba(172, 172, 172, .3);
  display: flex;
  flex-direction: column;
  transition: .3s;
  cursor: pointer;
  &:hover {
    box-shadow: 7px 7px 24px -7px rgba(102,102,102,0.66);
  }
}

.program-img-wrapper {
  height: 15rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.program-desc-wrapper {
  min-height: 35%;
  background: $white;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  div {
    display: flex;
    justify-content: space-between;
  }
  .subtitle, b {
    cursor: pointer;
    transition: .3s;
    &:hover {
      color: $accent;
    }
  }
}

.subtitle {
  font-size: 1.1rem;
  font-weight: 600;
}

.sm {
  font-size: .75rem;
}

.txt-accent {
  color: $accent;
  font-weight: 600;
  text-transform: uppercase;
}

.mb {
  margin-bottom: 1rem;
}

.sp-between {
  display: flex;
  justify-content: space-between;
}